.search {
	font-size: 1rem;
	font-weight: 500;
	padding: 1em;
	border-radius: 1em 0 0 1em;
	border: none;
}

.search:focus {
	outline: none;
}

.search-button {
	font-size: 1rem;
	width: 8%;
	min-width: 50px;
	padding: 1em;
	border: none;
	border-radius: 0 1em 1em 0;
	background-color: hsl(0, 0%, 17%);
}
