.login-screen {
	background-image: url('../../assets/images/pattern-bg.png');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-sawo-container {
	background-color: white;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 43px;
	padding: 5%;
}
